@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700;900&display=swap');
body{
    font-family: 'Raleway', sans-serif;
}
h1{
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -3px;
}
h2{
    font-size: 40px;
    font-weight: 200;
    letter-spacing: -3px;
    text-transform: lowercase;
}
h3{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.padded{
    padding-top:90px;
    padding-bottom:90px;
}